<form action="/artists/show" method="post">
  <label for="searchString">Search artist by name:</label>
  <input id="searchString" name="searchString" type="text">
  <button type="submit">Search</button>
</form>
