@{
  Layout = "_Layout";
}

<div class="container">
  <h1>CD Organizer</h1>
  <h2><a href="/artists">View by Artist</a></h2>
  <h2><a href="/artists/new">Add a new artist</a></h2>
  <h2><a href="artists/search_by_artist">Search by artist</a></h2>
</div>
